<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
<% post.images.each do |img| %>
  <%= image_tag(img, style: "width: 300px; height: auto") %>
<% end %>
  

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
